@charset "UTF";
@media screen and (min-width:768px) and (max-width:950px) {
   body{
    background-image: linear-gradient(to bottom, rgb(255, 55, 0), rgb(81, 203, 81),rgb(46, 122, 203),rgb(234, 234, 21));
   } 
    section#login{
        width: 700px;
    }
section#login > div#imagem{
    float: left;
    width: 50%;
    height: 100%;
}
div#formulario > h1{
    font-size: 2em;
    
 }
 div#formulario > p{
    margin-bottom: 50px;
 }
 div#campo > input{
    width: 200px;
  }
 
  div#campo > span{
    margin-left: 30px;
  }
  
  
  
  form  div.bottom > input[type=submit]{
    
     width: 200px;
     margin: auto;
     margin-top: 30px;
     
     
     
  }
  form div.bottom > a.botao{
   width: 200px;
   margin-left: 410px;
        
         
     }
    

}


 @media screen and  (min-width: 950px){
    body{
        background-image: linear-gradient(to bottom, rgb(255, 55, 0), rgb(81, 203, 81),rgb(46, 122, 203),rgb(234, 234, 21));
       } 
    section#login{
        
        width: 900px;
       
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
}
div#formulario > h1{
    
    font-size: 3em;
    
 }
 div#formulario > p{
    margin-bottom: 50px;
 }


div#campo > input{
   width: 200px;
 }

 div#campo > span{
   margin-left: 80px;
 }
 
 
 
 form  div.bottom > input[type=submit]{
   
    width: 200px;
    margin: auto;
    margin-top: 30px;
    
    
    
 }
 form div.bottom > a.botao{
  width: 200px;
  margin-left: 120px;
       
        
    }
 
 }