@charset "UTF-8";
body{ background-color: black;
    font-family: Arial, Helvetica, sans-serif;
font-size: 20px ;
color: cornsilk; }
h1{color: rgb(214, 211, 12); background-color: blanchedalmond;}
h2{color: darkkhaki;}